@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

body {
    background-color:#fbfbfb;
    overflow-x: hidden;
}


#mainNav {
    background-color: #f1abc700;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    transition: .8s;
}

#mainNav .navbar-brand {
    color: #FA8A8A;
    -webkit-text-stroke: 1.5px #fff;
    font-family: 'Staatliches', cursive;
    font-size: 1.2rem;
}

#mainNav .navbar-toggler {
    padding: 0.2rem;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

#mainNav.navbar-shrink {
    transition: .8s;
    padding-top: .2rem;
    padding-bottom: .2rem;
    background-color: #f9e3d990;
    border-bottom: 2px solid #fff;
}

#mainNav.navbar-shrink:hover {
    background-color: #f9e3d9;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Megrim', cursive;
    opacity: .6;
    transition: 1s;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
    opacity: 1;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #ffffff00;
}

.go-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: .5;
    transition: 1s;
}

.go-top:hover {
    opacity: 1;
}

.top {
    color: #c9547f;
    font-size: 2rem;
    text-decoration: none;
    transition: 1s;
}

.top:hover {
    color: #fff;
}

header.masthead {
    height: 100vh;
    background-image: url('../img/texture.png');
    border-bottom: 10px solid #f1abc790;
}

header.masthead .masthead-heading {
    font-size: 6.5rem;
    font-family: 'Staatliches', cursive;
    line-height: 5rem;
    background: #ffea79;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    text-shadow: 4px 4px 0 #F75573;
    letter-spacing: 1rem;
    margin-bottom: 1.2rem;
}

header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1rem;
    margin-bottom: 0rem;
    letter-spacing: 0.3rem;
    color: #fff;
}

/* section {
    padding: 5rem 0;
} */

.hr_yellow {
    width: 80vw;
    height: 1px;
    margin: 0 auto;
    border: none;
    background: linear-gradient(90deg, #F7557300 0%, #F8ECA0 50%, #F7557300 100%);
}

.hr_pink {
    width: 80vw;
    height: 1px;
    margin: 0 auto;
    border: none;
    background: linear-gradient(90deg, #F8ECA000 0%, #F75573 50%, #F8ECA000 100%);
}

.hr_blue {
    width: 80vw;
    height: 1px;
    margin: 0 auto;
    border: none;
    background: linear-gradient(90deg, #F8ECA000 0%, #ACE3EA 50%, #F8ECA000 100%);
}

.hr_purple {
    width: 80vw;
    height: 1px;
    margin: 0 auto;
    border: none;
    background: linear-gradient(90deg, #336E7400 0%, #75589B 50%, #336E7400 100%);
}

.footer {
    background-color: #f9e3d9;
    border-top: 2px solid #fff;
}

.cube-logo {
    width: 22%;
}

.btn-dark {
    color: #fff;
    background-color: #ff8989;
    border-color: #ff8989;
    transition: .8s;
}

.btn-dark:hover {
    color: #fff;
    background-color: #c5bef2;
    border-color: #fff;
}

.btn-check:checked + .btn-dark, .btn-check:active + .btn-dark, .btn-dark:active, .btn-dark.active, .show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #ff8989;
    border-color: #ff8989;
}

.btn-check:checked + .btn-dark:focus, .btn-check:active + .btn-dark:focus, .btn-dark:active:focus, .btn-dark.active:focus, .show > .btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem #ff898980;
}

.btn-check:focus + .btn-dark, .btn-dark:focus {
    color: #fff;
    background-color: #ff8989;
    border-color: #ff8989;
    box-shadow: 0 0 0 0.25rem #ff898980;
}

#myCanvas {
    width: 65%;
    height: 80vh;
    position: relative;
    top: -13rem;
}

.h1-text-2 {
    background: linear-gradient(90deg, #F75573 0%, #75589B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: 21rem;
    -webkit-text-stroke: 2px #fff;
    font-size: 4rem;
    font-family: 'Concert One', cursive;
    margin:0 auto;
}

.border-img {
    border: 5px solid #fff;
    filter: drop-shadow(3px 3px 3px rgba(133, 133, 133, 0.25));
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    width: 75%;
    height: 100%;
    background: #f9e3d980;
    opacity: 0;
    z-index: 1;
    left: 12.5%;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    background-color: #fff0;
}

.modal-content {
    background-color: #FFF6F7;
    border:none;
}

.lot-modal {
    color: #F75573;
}

.text-pink {
    color: #f4c0c0;
}

.portfolio-modal .modal-content img {
    margin-bottom: .5rem;
}

.h1-pink {
    font-size: 5rem;
    font-family: 'Staatliches', cursive;
    line-height: 5rem;
    background: #ffea79;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    text-shadow: 4px 4px 0 #F75573;
    letter-spacing: 0.5rem;
}

.more {
    color: #FFF;
    font-family: 'Concert One', cursive;
    font-size: 2rem;
    letter-spacing: .3rem;
}

.text-left {
    text-align: left;
}

.tracklist-lot {
    letter-spacing: .2rem;
    font-family: 'Staatliches', cursive;
}

.modal-weth {
    background-color: #edefff;
}

.daisy-modal {
    color: #8459B5;
}

.h1-purple {
    font-size: 5rem;
    font-family: 'Staatliches', cursive;
    line-height: 5rem;
    background: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 2px #ffc4c4;
    text-shadow: 4px 4px 0 #8459B5;
    letter-spacing: 0.5rem;
}

/* 卷軸底色 */
::-webkit-scrollbar { width:5px; background-color:#fbfbfb;}
/* 卷軸拉的軸軌的顏色 */
::-webkit-scrollbar-thumb:vertical {background-color:#f9e3d9;}


/*反白*/
::selection {color: #FA8A8A;}
::-moz-selection {color: #FA8A8A;}