@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

body {
    background-color:#fbfbfb;
    overflow-x: hidden;
}


#mainNav {
    background-color: #f1abc700;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    transition: .8s;
}

#mainNav .navbar-brand {
    color: #FA8A8A;
    -webkit-text-stroke: 1.5px #fff;
    font-family: 'Staatliches', cursive;
    font-size: 1.2rem;
}

#mainNav .navbar-toggler {
    padding: 0.2rem;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

#mainNav.navbar-shrink {
    transition: .8s;
    padding-top: .2rem;
    padding-bottom: .2rem;
    background-color: #f9e3d990;
    border-bottom: 2px solid #fff;
}

#mainNav.navbar-shrink:hover {
    background-color: #f9e3d9;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Megrim', cursive;
    opacity: .6;
    transition: 1s;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
    opacity: 1;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #ffffff00;
}

.go-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: .5;
    transition: 1s;
}

.go-top:hover {
    opacity: 1;
}

.top {
    color: #c9547f;
    font-size: 2rem;
    text-decoration: none;
    transition: 1s;
}

.top:hover {
    color: #fff;
}

header.masthead {
    height: 100vh;
    background-image: url('../img/texture.png');
    border-bottom: 10px solid #f1abc790;
}

header.masthead .masthead-heading {
    font-size: 6.5vw;
    font-family: 'Staatliches', cursive;
    font-weight: normal;
    line-height: 5vw;
    background: #ffea79;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    text-shadow: 4px 4px 0 #F75573;
    letter-spacing: 1rem;
    margin-bottom: 1.2rem;
}

header.masthead .masthead-subheading {
    font-size: 1.5vw;
    font-style: italic;
    line-height: 1vw;
    margin-bottom: 0rem;
    letter-spacing: 0.3rem;
    color: #fff;
}

/* section {
    padding: 5rem 0;
} */

.hr_yellow {
    width: 80vw;
    height: 1px;
    margin: 0 auto;
    border: none;
    background: linear-gradient(90deg, #F7557300 0%, #F8ECA0 50%, #F7557300 100%);
}

.hr_pink {
    width: 80vw;
    height: 1px;
    margin: 0 auto;
    border: none;
    background: linear-gradient(90deg, #F8ECA000 0%, #F75573 50%, #F8ECA000 100%);
}

.hr_blue {
    width: 80vw;
    height: 1px;
    margin: 0 auto;
    border: none;
    background: linear-gradient(90deg, #F8ECA000 0%, #ACE3EA 50%, #F8ECA000 100%);
}

.hr_purple {
    width: 80vw;
    height: 1px;
    margin: 0 auto;
    border: none;
    background: linear-gradient(90deg, #336E7400 0%, #75589B 50%, #336E7400 100%);
}

.text-left {
    text-align: left !important;
}

.h1-text {
    background: linear-gradient(90deg, #F75573 0%, #75589B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: 13rem;
    -webkit-text-stroke: 2px #fff;
    font-size: 4rem;
    font-family: 'Concert One', cursive;
}

.h1-text-2 {
    background: linear-gradient(90deg, #F75573 0%, #75589B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: 13rem;
    -webkit-text-stroke: 2px #fff;
    font-size: 4rem;
    font-family: 'Concert One', cursive;
    margin:0 auto;
}

.awards-content {
    text-align: left;
    font-family: 'Noto Sans TC', cursive;
    color: #B64D60;
    text-shadow: 2px 2px 0 #ffe4e4;
    letter-spacing: 2px;
}

#second {
    background: linear-gradient(0deg, #F9E7E600 0%, #F9E7E6 50%, #F9E7E600 100%);
}

.timeline-dot-first {
    color: #CFB8E7;
    font-size: 2.5rem;
    -webkit-text-stroke: 1.5px #000;
    text-shadow: -3px 2px 0 #CFB8E7;
    text-decoration: none;
}

a:hover {
    color: #cca00000;
}

.timeline::before {
    top: 25px;
}

.timeline > li .timeline-panel {
    padding: 0 0 0 100px;
    top: -50px;
    letter-spacing: 2px;
    font-family: 'Noto Sans TC', cursive;
}

.timeline-heading h4{
    letter-spacing: 5px;
    font-family: 'Noto Sans TC', cursive;
}

#h4-first {
    color: #75589B;
    text-shadow: 2px 1px 0 #FFF;
}

.content-first {
    color: #75589B;
}

.timeline-dot-second {
    color: #F1ABC7;
    font-size: 2.5rem;
    -webkit-text-stroke: 1.5px #000;
    text-shadow: -3px 2px 0 #F1ABC7;
    text-decoration: none;
}

#h4-second {
    color: #F75573;
    text-shadow: 2px 1px 0 #FFF;
}

.content-second {
    color: #F75573;
}

.timeline-dot-third {
    color: #F8ECA0;
    font-size: 2.5rem;
    -webkit-text-stroke: 1.5px #000;
    text-shadow: -3px 2px 0 #F8ECA0;
    text-decoration: none;
}

#h4-third {
    color: #F79955;
    text-shadow: 2px 1px 0 #FFF;
}

.content-third {
    color: #F79955;
}

.timeline-dot-fourth {
    color: #74DEE1;
    font-size: 2.5rem;
    -webkit-text-stroke: 1.5px #000;
    text-shadow: -3px 2px 0 #74DEE1;
    text-decoration: none;
}

#h4-fourth {
    color: #589B93;
    text-shadow: 2px 1px 0 #FFF;
}

.content-fourth {
    color: #589B93;
}

.timeline-dot-fifth {
    color: #F75573;
    font-size: 2.5rem;
    -webkit-text-stroke: 1.5px #000;
    text-shadow: -3px 2px 0 #F75573;
    text-decoration: none;
}

#h4-fifth {
    color: #F75555;
    text-shadow: 2px 1px 0 #FFF;
}

.content-fifth {
    color: #F75555;
}

.timeline-dot-sixth {
    color: #807C7D;
    font-size: 2.5rem;
    -webkit-text-stroke: 1.5px #000;
    text-shadow: -3px 2px 0 #807C7D;
    text-decoration: none;
}

#h4-sixth {
    color: #9B5864;
    text-shadow: 2px 1px 0 #FFF;
}

.content-sixth {
    color: #9B5864;
}

.timeline::before {
    background-image: linear-gradient(180deg, #75589B 0%, #F1ABC7 15%, #FFEA62 40%, #74DEE1 60%, #F75573 80%, #807C7D 100%);
    height: 103rem;
    width: 1.5px;
}

.footer {
    background-color: #f9e3d9;
    border-top: 2px solid #fff;
}

.cube-logo {
    width: 22%;
}

.btn-dark {
    color: #fff;
    background-color: #ff8989;
    border-color: #ff8989;
    transition: .8s;
}

.btn-dark:hover {
    color: #fff;
    background-color: #c5bef2;
    border-color: #fff;
}

.btn-check:checked + .btn-dark, .btn-check:active + .btn-dark, .btn-dark:active, .btn-dark.active, .show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #ff8989;
    border-color: #ff8989;
}

.btn-check:checked + .btn-dark:focus, .btn-check:active + .btn-dark:focus, .btn-dark:active:focus, .btn-dark.active:focus, .show > .btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem #ff898980;
}

.btn-check:focus + .btn-dark, .btn-dark:focus {
    color: #fff;
    background-color: #ff8989;
    border-color: #ff8989;
    box-shadow: 0 0 0 0.25rem #ff898980;
}

/* 卷軸底色 */
::-webkit-scrollbar { width:5px; background-color:#fbfbfb;}
/* 卷軸拉的軸軌的顏色 */
::-webkit-scrollbar-thumb:vertical {background-color:#f9e3d9;}


/*反白*/
::selection {color: #FA8A8A;}
::-moz-selection {color: #FA8A8A;}