@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

*{
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

body {
    background:linear-gradient(180deg, #fbfbfb 0% ,#FBE7EE 30%, #FEFFD6 40%, #D4D6FE 70%, #FFD6E4 100%);
    overflow-x: hidden;
}

#mainNav {
    background-color: #f1abc790;
    border-bottom: 5px solid #fff;
    padding-top: 0;
    padding-bottom: 0;
    transition: .8s;
}

#mainNav .navbar-brand {
    color: #FA8A8A;
    -webkit-text-stroke: 1.5px #fff;
    font-family: 'Staatliches', cursive;
    font-size: 1.75rem;
}

#mainNav.navbar-shrink .navbar-brand {
    font-size: 2em;
}

#mainNav .navbar-toggler {
    padding: 0.2rem;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

#mainNav.navbar-shrink {
    transition: .8s;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #f5ccdc;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Megrim', cursive;
    opacity: .6;
    transition: 1s;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
    opacity: 1;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #ffffff00;
}

#first {
    padding-top: 0;
}

.logo_img {
    width: 60vw;
    margin: 12.5vw 0;
}

.hr_yellow {
    width: 80vw;
    height: 1px;
    margin: 0 auto;
    border: none;
    background: linear-gradient(90deg, #F7557300 0%, #F8ECA0 50%, #F7557300 100%);
}

.hr_pink {
    width: 80vw;
    height: 1px;
    margin: 0 auto;
    border: none;
    background: linear-gradient(90deg, #F8ECA000 0%, #F75573 50%, #F8ECA000 100%);
}

.hr_blue {
    width: 80vw;
    height: 1px;
    margin: 0 auto;
    border: none;
    background: linear-gradient(90deg, #F8ECA000 0%, #ACE3EA 50%, #F8ECA000 100%);
}

.hr_purple {
    width: 80vw;
    height: 1px;
    margin: 0 auto;
    border: none;
    background: linear-gradient(90deg, #336E7400 0%, #75589B 50%, #336E7400 100%);
}

#img_romantic {
    opacity: 1;
    transition: 3s;
}


#img_romantic_ro {
    opacity: 0;
    margin-top: -70%;
    transition: 3s;
}

#img_Sporty {
    opacity: .7;
    transition: 1s;
}

#img_Sporty:hover {
    opacity: 1;
}

#img_Mild {
    opacity: .7;
    transition: 1s;
}

#img_Mild:hover {
    opacity: 1;
}

.lot_img {
    width: 80%;
}


/* 卷軸底色 */
::-webkit-scrollbar { width:5px; background-color:#fbfbfb;}
/* 卷軸拉的軸軌的顏色 */
::-webkit-scrollbar-thumb:vertical {background-color:#FFD6E4;}


/*反白*/
::selection {color: #fff; background-color: #FB5978;}
::-moz-selection {color: #fff; background-color: #FB5978;}